<!-- html skeleton in pug -->
doctype html
html
  head
    title= title
    script(src="/reload/reload.js") 
    script(src="https://unpkg.com/htmx.org@2.0.1" integrity="sha384-QWGpdj554B4ETpJJC9z+ZHJcA/i59TyjxEPXiiUgN2WmTyV5OEZWCD6gQhgkdpB/" crossorigin="anonymous")
    script(src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js")
    base(href="/")
    link(rel='stylesheet' type= 'text/css' href='/styles.css')

  body
  div.modal(id="indicator")
    lottie-player.htmx-indicator(src="https://lottie.host/15b9493e-9c63-40f6-b52c-985235501a1e/iLTJ0KXg77.json" background="##ffffff" speed="1" style="width: 300px; height: 100%; margin: 0 auto;" loop autoplay direction="1" mode="normal")
  h1.text-green-600.bg-slate-900 #{title}
  button(hx-post="/basket"  hx-include="next input" hx-target="#result" hx-indicator="#indicator") Click me
  input.border-2.border-black(type="email" name="email" placeholder="Email")
  div#result