<!-- html skeleton in pug -->
doctype html
html
  head
    title= title
    script(src="/reload/reload.js") 
    base(href="/")
    link(rel='stylesheet' type= 'text/css' href='/styles.css')
  body
    h1.text-red-600 #{title}